<br/>
<mat-card style="width:100%">
  <mat-toolbar color="primary" class="mat-elevation-z24"> CADASTRO DE LEAD </mat-toolbar>
</mat-card> <br/>

<div class="container" style="margin-top:25px">
<label for="txNome" style="margin-left: 1rem"> Nome: </label>
<input type="text" id="txNome" name="txNome" class="normal-small-to-3" style="margin-left: 1rem" [(ngModel)]="nome"> &nbsp;

  <label for="tx_1_contato"> 1º Contato: </label> &nbsp;
  <input type="date" id="tx_1_contato" name="txFirstContact" [(ngModel)]="primeiroContato"> &nbsp;

  <label for="tx_ult_contato"> Último Contato: </label> &nbsp;
  <input type="date" id="tx_ult_contato" name="txLastContact" [(ngModel)]="ultimoContato"> &nbsp;

  <label for="txDtNasc"> Data Nascimento: </label> &nbsp;
  <input type="date" id="txDtNasc" name="txBirthDate" [(ngModel)]="dataNascimento">

</div>

<div class="container_2">

  <label for="txCelular"> Celular: </label> &nbsp;
  <input type="text" id="txCelular" name="txCelular" class="normal-1" style="margin-left: 1rem" [(ngModel)]="celular"> &nbsp;

  <label for="txTelefone"> Telefone: </label> &nbsp;
  <input type="text" id="txTelefone" name="txTelefone" class="normal-1" [(ngModel)]="telefone"> &nbsp;

  <label for="cb_UF"> UF: </label> &nbsp;
  <select class="normal-1" id="cb_UF" [(ngModel)]="selectedState" (change)="stateSelected()" style="margin-left: 1rem; height:2rem;">
    <option *ngFor="let item of estados" [value]="item.id" style="align-items: center"> {{item.sigla}} </option>
  </select> &nbsp;

  <label for="cb_cidade"> Cidade: </label> &nbsp;
  <select class="normal-small-to-4" id="cb_cidade" [(ngModel)]="selectedCity" (change)="cityChanged()"  style="margin-left: 1rem; height:2rem; align-items: center">
    <option *ngFor="let item of municipios" [value]="item.id" style="align-items: center"> {{item.nome}} </option>
  </select> &nbsp;

</div>

<div class="container_3">
  <label for="txCarroInteresse" style="margin-left: 1rem"> Carro Interesse: </label> &nbsp;
  <input type="text" id="txCarroInteresse" name="txCarroInteresse" style="margin-left: 1rem" [(ngModel)]="carroInteresse1"> &nbsp;

  <label for="txCarroAtual"> Carro Atual: </label> &nbsp;
  <input type="text" id="txCarroAtual" name="txCarroAtual" [(ngModel)]="carroAtual1"> &nbsp;

  <label for="txVendedor"> Vendedor: </label> &nbsp;
  <input type="text" id="txVendedor" name="txUF" [(ngModel)]="vendedor"> &nbsp;
</div>

<div class="container_4">
  <label for="cb_status" style="margin-left: 1rem"> Status: </label> &nbsp;
  <select class="normal-2" id="cb_status" [(ngModel)]="selectedStatus" style="margin-left: 1rem; height:2rem; align-items: center ">
    <option *ngFor="let item of statusSet" [value]="item" [selected]="item ==='Todos'"> {{item}} </option>
  </select> &nbsp;

  <label for="cb_option" style="margin-left: 1rem"> Opção: </label> &nbsp;
  <select class="normal-2" id="cb_option" [(ngModel)]="selectedOption" style="margin-left: 1rem; height:2rem; align-items: center">
    <option *ngFor="let item of opcao" [value]="item"> {{item}} </option>
  </select>

</div> <br/>

<!--<div class="container_4">-->
<!--  <label for="cb_status" style="margin-left: 1rem"> Status: </label> &nbsp;-->
<!--  <select class="form-control normal-2" id="cb_status" (change)="statusChanged()" [(ngModel)]="selectedStatus" style="margin-left: 1rem">-->
<!--    <option *ngFor="let item of statusSet" [value]="item" [selected]="item ==='Todos'"> {{item}} </option>-->
<!--  </select>-->
<!--</div>-->
<!--<div class="container_4">-->
<!--  <label for="cb_option" style="margin-left: 1rem"> Opção: </label> &nbsp;-->
<!--  <select class="form-control normal-2" id="cb_option" (change)="statusChanged()" [(ngModel)]="selectedOption" style="margin-left: 1rem">-->
<!--    <option *ngFor="let item of opcao" [value]="item"> {{item}} </option>-->
<!--  </select>-->
<!--</div> <br/>-->

<div class="container">
  <div style="margin-top: 12px">
    <button class="btn btn-secondary" title="LABEL_SALVAR" (click)="search()" style="margin-top:-0.3rem; height:2rem">
      <span>Filtrar</span> &nbsp;
    </button> &nbsp;
    <button class="btn btn-primary" (click)="salvar()" style="margin-top:-0.3rem; height:2rem" > <i class="far fa-edit btn_small"></i> Salvar </button> &nbsp;
  </div>
</div>
