<!--<form (ngSubmit)="submit()">-->

<div class="container">

  <label for="txId" style="margin-left: 0rem"> ID: </label>
  <input type="text" id="txId" name="txId" class="very-small-column" style="margin-left: 1rem" [(ngModel)]="id"> &nbsp;

  <label for="txNome" style="margin-left: 1rem; color: red"> Nome: </label>
  <input type="text" id="txNome" name="txNome" class="normal-small-to-3" style="margin-left: 1rem" [(ngModel)]="nome"> &nbsp;

  <label for="tx_1_contato" style="color: red"> 1º Contato: </label> &nbsp;
  <input type="date" id="tx_1_contato" name="txFirstContact" [(ngModel)]="primeiroContato"> &nbsp;

  <label for="tx_ult_contato"> Último Contato: </label> &nbsp;
  <input type="date" id="tx_ult_contato" name="txLastContact" [(ngModel)]="ultimoContato"> &nbsp;

  <label for="txDtNasc" style="color: red"> Data Nascimento: </label> &nbsp;
  <input type="date" id="txDtNasc" name="txBirthDate" [(ngModel)]="dataNascimento">

</div>

<!--<div class="container" *ngIf="nome === '' || nome === undefined && submitted">-->
<!--  <div *ngIf="nome ==='' || nome === undefined && submitted" class="validation-error">-->
<!--    <p> <span style="color: red"> * Os campos Nome, Carro Atual 1, Carro Interesse 1, Opção, Data Nascimento, Observação, UF, Status e Celular são obrigatórios </span> </p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container_2">-->
<div class="container">

  <label for="txCelular" style="color: red"> Celular 1: </label> &nbsp;
  <input type="text" id="txCelular" name="txCelular" class="normal-small-to-1" style="margin-left: 1rem" [(ngModel)]="celular"> &nbsp;

  <label for="txCelular2"> Celular 2: </label> &nbsp;
  <input type="text" id="txCelular2" name="txCelular2" class="normal-small-to-1" style="margin-left: 1rem" [(ngModel)]="celular2"> &nbsp;

  <label for="txTelefone"> Telefone: </label> &nbsp;
  <input type="text" id="txTelefone" name="txTelefone" class="normal-small-to-1" [(ngModel)]="telefone"> &nbsp;

  <label for="cb_UF"> UF: </label> &nbsp;
  <select class="normal-1" id="cb_UF" [(ngModel)]="selectedState" (change)="stateSelected()" style="margin-left: 1rem; height:2rem;">
<!--    <option *ngFor="let item of estados" [value]="item.id" style="align-items: center"> {{item.sigla}} </option>-->
    <option *ngFor="let item of estados" [value]="item.id" style="align-items: center" [selected]="item.nome === this.uf"> {{item.sigla}} </option>
  </select> &nbsp;

  <label for="cb_cidade"> Cidade: </label> &nbsp;
  <select class="normal-small-to-4" id="cb_cidade" [(ngModel)]="selectedCity" (change)="cityChanged()"  style="margin-left: 1rem; height:2rem; align-items: center">
<!--    <option *ngFor="let item of municipios" [value]="item.id"  [selected]="item.id === this.municipio.id" style="align-items: center"> {{item.nome}} </option>-->
    <option *ngFor="let item of municipios" [value]="item.id"  [selected]="item.nome === this.selectedCity" style="align-items: center"> {{item.nome}} </option>
  </select> &nbsp;
</div>

<div class="container">
  <label for="txTelefone"> Email: </label> &nbsp;
  <input type="text" id="txEmail" name="txEMail" class="normal-small-to-3" [(ngModel)]="email"> &nbsp;

  <label for="txTelefone"> Endereço: </label> &nbsp;
  <input type="text" id="txEndereco" name="txEndereco" class="normal-65" [(ngModel)]="endereco"> &nbsp;
</div>

<div class="container">
  <label for="txCarroInteresse1" style="margin-left: 1rem; color: red"> Carro Interesse: </label> &nbsp;
  <input type="text" id="txCarroInteresse1" name="txCarroInteresse1" style="margin-left: 1rem" [(ngModel)]="carroInteresse1"> &nbsp;

  <label for="txCarroInteresse2" style="margin-left: 1rem;"> Carro Interesse 2: </label> &nbsp;
  <input type="text" id="txCarroInteresse2" name="txCarroInteresse2" style="margin-left: 1rem" [(ngModel)]="carroInteresse2"> &nbsp;

  <label for="txCarroInteresse3" style="margin-left: 1rem"> Carro Interesse 3: </label> &nbsp;
  <input type="text" id="txCarroInteresse3" name="txCarroInteresse3" style="margin-left: 1rem" [(ngModel)]="carroInteresse3"> &nbsp;

</div>

<div class="container">
  <label for="txCarroAtual1" style="margin-left: 1rem; color: red"> Carro Atual: </label> &nbsp;
  <input type="text" id="txCarroAtual1" name="txCarroAtual1" style="margin-left: 1rem" [(ngModel)]="carroAtual1"> &nbsp;

  <label for="txCarroAtual2"> Carro Atual 2: </label> &nbsp;
  <input type="text" id="txCarroAtual2" name="txCarroAtual2" [(ngModel)]="carroAtual2"> &nbsp;

  <label for="txCarroAtual3"> Carro Atual 3: </label> &nbsp;
  <input type="text" id="txCarroAtual3" name="txCarroAtual3" [(ngModel)]="carroAtual3"> &nbsp;
</div>

<div class="container">

  <label for="txVendedor"> Vendedor: </label> &nbsp;
  <input type="text" id="txVendedor" name="txUF" [(ngModel)]="vendedor"> &nbsp;

  <label for="cb_status" style="margin-left: 1rem; color: red"> Status: </label> &nbsp;
  <select class="normal-2" id="cb_status" (change)="statusChanged()" [(ngModel)]="selectedStatus" style="margin-left: 1rem; height:2rem; align-items: center ">
<!--    <option *ngFor="let item of statusSet" [value]="item" [selected]="item ==='Todos'"> {{item}} </option>-->
    <option *ngFor="let item of statusSet" [value]="item" [selected]="item ===selectedStatus"> {{item}} </option>
  </select> &nbsp;

  <label for="cb_option" style="margin-left: 1rem; color: red"> Opção: </label> &nbsp;
  <select class="normal-2" id="cb_option" (change)="optionChanged()" [(ngModel)]="selectedOption" style="margin-left: 1rem; height:2rem; align-items: center">
<!--  <select class="normal-2" id="cb_option" [(ngModel)]="selectedOption" style="margin-left: 1rem; height:2rem; align-items: center">-->
<!--    <option *ngFor="let item of opcao" [value]="item" [selected]="item ==='Todos'"> {{item}} </option>-->
    <option *ngFor="let item of opcao" [value]="item" [selected]="item ===selectedOption"> {{item}} </option>
  </select> &nbsp;

  <label for="txAniversario"> Aniversário: </label> &nbsp;
  <input type="text" id="txAniversario" name="txAniversario" [(ngModel)]="aniversario" maxlength="4" > &nbsp;

  <button class="btn btn-secondary" title="Buscar por aniversário" (click)="searchByBirthday()" style="margin-top:-0.3rem; height:2rem">
    <i class="fas fa-search"></i>
  </button> &nbsp;

</div> <br/>

<div class="container_3">
  <label for="txObs" style="margin-left: 1rem"> Observações: </label> &nbsp;
  <input type="text" id="txObs" style="width: 90%" [(ngModel)]="observacoes" maxlength="254">
</div>

<!--</form>-->

<div class="container" style="height:3rem">
  <div style="margin-top: 15px">
    <button class="btn btn-secondary" title="Buscar por todos os campos" (click)="search()" style="margin-top:-0.3rem; height:2rem">
      <i class="fas fa-filter"></i>
      Buscas Gerais
    </button> &nbsp;
    <button class="btn btn-secondary" title="Atualizar" (click)="doRefresh()" style="margin-top:-0.3rem; height:2rem">
      <i class="fa fa-refresh fa-spin"></i> Atualizar
    </button> &nbsp;

    <button class="btn btn-secondary" title="Buscar por nome" (click)="findLead()" style="margin-top:-0.3rem; height:2rem">
      <i class="fas fa-search"></i>
      Alterar
    </button> &nbsp;

    <button class="btn btn-primary" (click)="editar()" title="Salvar alterações" style="margin-top:-0.3rem; height:2rem"> <i class="far fa-edit btn_small"> Salvar alterações </i>
      </button> &nbsp;

<!--    <button class="btn btn-danger"(click)="delete()" title="Excluir" style="margin-top:-0.3rem; height:2rem">-->
<!--      <i class="fa fa-trash-o fa-lg"></i> Excluir-->
<!--      </button> &nbsp;-->

    <button class="btn btn-secondary" (click)="adicionar()" title="Cadastrar novo" style="margin-top:-0.3rem; height:2rem">
      <i class="fas fa-plus-circle"></i>
      Novo
    </button> &nbsp;

    <button class="btn btn-secondary" (click)="clear()" title="Limpar campos" style="margin-top:-0.3rem; height:2rem">
      <i class="fas fa-plus-undo"></i>
      Limpar
    </button>


  </div>
</div>

<mat-card style="width:200%">
  <mat-toolbar color="primary" class="mat-elevation-z24"> CONTROLE DE LEADS </mat-toolbar>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" style="width: 25rem;"> Nome </th>
        <td mat-cell *matCellDef="let element" style="width: 25rem;"> {{element.nome}} </td>
      </ng-container>

      <!-- First Contact ID -->
      <ng-container matColumnDef="primeiroContato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first contact date" style="width: 15rem;"> Primeiro Contato </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.primeiroContato}} </td>
      </ng-container>

      <!-- Days passed since firrst contact's been made -->
      <ng-container matColumnDef="diasCadastro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first contact date" style="width: 15rem;"> Dias </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.diasCadastro}} </td>
      </ng-container>

      <!-- Last Contact Column -->
      <ng-container matColumnDef="ultimoContato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last contact date"style="width: 15rem;" > Último Contato </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.ultimoContato}} </td>
      </ng-container>

      <!-- Days passed since last contact has been made -->
      <ng-container matColumnDef="diasUltimoContato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first contact date" style="width: 15rem;"> Dias </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.diasUltimoContato}} </td>
      </ng-container>

      <!-- Birth Date Column -->
      <ng-container matColumnDef="dataNascimento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by birth date" style="width: 15rem;"> Data Nascimento </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.dataNascimento}} </td>
      </ng-container>

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cellphone number" style="width: 15rem;"> Celular 1 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.celular}} </td>
      </ng-container>

      <!-- Mobile Number Column -->
      <ng-container matColumnDef="celular2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cellphone number" style="width: 15rem;"> Celular 2 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.celular2}} </td>
      </ng-container>

      <!-- Phone Number Column -->
<!--      <ng-container matColumnDef="telefone">-->
<!--        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by telephone number" style="width: 15rem;"> Telefone </th>-->
<!--        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.telefone}} </td>-->
<!--      </ng-container>-->

      <!-- Email Column -->
<!--      <ng-container matColumnDef="email">-->
<!--        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email" style="width: 15rem;"> Email </th>-->
<!--        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.email}} </td>-->
<!--      </ng-container>-->

      <!-- Address Number Column -->
<!--      <ng-container matColumnDef="endereco">-->
<!--        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address" style="width: 15rem;"> Endereço </th>-->
<!--        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.endereco}} </td>-->
<!--      </ng-container>-->

      <!-- State Column -->
      <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state" style="width: 15rem;"> UF </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.uf}} </td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city" style="width: 15rem;"> Cidade </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.cidade}} </td>
      </ng-container>

      <!-- Wished Car Column -->
      <ng-container matColumnDef="carroInteresse1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by intenrest car 1" style="width: 15rem;"> Carro Interesse 1 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.carroInteresse1}} </td>
      </ng-container>
      <ng-container matColumnDef="carroInteresse2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by interest car 2" style="width: 15rem;"> Carro Interesse 2 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.carroInteresse2}} </td>
      </ng-container>
      <ng-container matColumnDef="carroInteresse3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by interest car 3" style="width: 15rem;"> Carro Interesse 3 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.carroInteresse3}} </td>
      </ng-container>

      <!-- Current Car Column -->
      <ng-container matColumnDef="carroAtual1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current car 1" style="width: 15rem;"> Carro Atual 1 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.carroAtual1}} </td>
      </ng-container>
      <ng-container matColumnDef="carroAtual2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current car 2" style="width: 15rem;"> Carro Atual 2 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.carroAtual2}} </td>
      </ng-container>
      <ng-container matColumnDef="carroAtual3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by current car 3" style="width: 15rem;"> Carro Atual 3 </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.carroAtual3}} </td>
      </ng-container>

      <!-- Sales Person Column -->
      <ng-container matColumnDef="vendedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by salesperson" style="width: 15rem;"> Vendedor </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.vendedor}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status" > Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="opcaoVeiculo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vehicle options" style="width: 15rem;"> Opções Veículo </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.opcaoVeiculo}} </td>
      </ng-container>

      <!-- Notes Column -->
      <ng-container matColumnDef="observacoes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by notes" style="width: 15rem;"> Observações </th>
        <td mat-cell *matCellDef="let element" style="width: 15rem;"> {{element.observacoes}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="hilight(row)" ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>
</mat-card>

<!--<button class="btn btn-secondary" style="margin-top:-0.3rem; height:2rem">-->
<!--  <i class="fas fa-plus-circle"></i>-->
<!--  <span>Novo</span>-->
<!--</button>-->

<!--<label for="cb_status" style="margin-left: 1rem"> Status: </label> &nbsp;-->
<!--<select class="normal-2" id="cb_statusXD" (change)="statusChanged()" [(ngModel)]="selectedStatus" style="margin-left: 1rem; height:2rem; align-items: center ">-->
<!--  <option *ngFor="let item of statusSet" [value]="item" [selected]="item ==='Todos'"> {{item}} </option>-->
<!--</select> &nbsp;-->
